.hero {
    padding-top: 175px;
    padding-bottom: 55px;
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero__main-head {
    margin: 0 auto;
    max-width: 430px;
    text-align: center;
    font-family: 'Gotham-Bold';
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.hero__main-text {
    padding-top: 35px;
    padding-bottom: 70px;
    font-family: Georgia, Times, serif;
    font-style: italic;
}

.hero__down-btn {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.down-btn__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 5px 5px grey;
}

.down-btn__inner:active {
    box-shadow: inset 0px 0px 5px grey;
}